h1.top {
  color: red;
}
div.k {
  color: purple;
}
div.kk {
  color: aqua;
}
div.kkk {
  color: chartreuse;
}
div.kkkk {
  color: blue;
}
h3 {
  text-align: center;
}
div {
  text-align: center;
}
button {
  color: rgb(245, 0, 171);
  text-decoration-line: underline;
}
